<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.imgsearch.mapper.MainMapper">
	

	<select id="storeMainImgList" parameterType="java.util.List" resultType="org.imgsearch.vo.StoreImageVO">
		
		select s_no, si_img from tbl_store_image
		<if test="list.isEmpty() eq false">
			where			
			<foreach collection="list" item="vo" separator="or">
				s_no = #{vo.s_no}				
			</foreach>
		</if>
		group by s_no
	
	
	
	</select>
	
	
	<select id="test" resultType="java.lang.Integer">
		
		select count(*) from tbl_user	
	</select>
	
	
</mapper>



